standby_mode = 'on'
primary_conninfo = 'host={{ hostvars['host0.example.org']['ansible_eth1']['ipv4']['address'] }} port=5432 user={{ pg_repl_user }} password={{ pg_repl_password }} sslmode=require'
trigger_file = '/tmp/postgresql.trigger'